<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="./index.html">
            <img src="./assets/images/floristgarden_logo.png" alt="Floristgården Logo"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item{% if page.url contains "index.html" or page.url == "/" %} active{% endif %}">
                    <a class="nav-link" href="./index.html">Hem</a>
                </li>
                <li class="nav-item{% if page.url contains "personal.html"%} active{% endif %}">
                    <a class="nav-link" href="./personal.html">Personal</a>
                </li>
                <li class="nav-item{% if page.url contains "hitta_hit.html"%} active{% endif %}">
                    <a class="nav-link" href="./hitta_hit.html">Hitta hit</a>
                </li>
            </ul>
            <div class="open-banner-div onlyjs navbar-text">
                <div id="open-banner">we be open</div>
            </div>
        </div>
    </div>
</nav>
