html, body {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 320px){
    .product-images {
        width:100%;
        > img {
            width:100%;
        }
    }
    .serif-font {
        font-family: 'Merriweather', serif;
    }

    .display-4.serif-font{
        font-size: 3em;
    }

    .product {
        background-color: white;
        text-align: center;
    }

    .product-text {
        font-size: 0.8em;
        color: gray;
    }

    .employee-list {
        width:95%;
        margin:0 auto;
        text-align:center;
        > .employee {
            text-align:center;
            margin: 0 auto;
            width:205px;
            float:left;
            display:table;
            > .employee-img {
                margin: 0 auto;
                width:200px;
            }
            > .employee-name {
                text-align:center;
                color:#111;
            }
        }
        overflow:hidden;
    }
}