@footer-bg-color: #212529;
@footer-dark-bg-color: #343a40;
@footer-text-color: #FFF;
@mainFont: 'Roboto Slab', serif;
@headerFont: 'Lora', serif;
@mainButtonColor: #F17F98;

html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.textIsBold {
    font-weight: bold;
}

.onlyjs {
    display: none;
}

#map {
    height: 400px;
    background-color: gray;
}

/* Add the below transitions to allow a smooth color change similar to lyft */
.navbar {
    transition: all 0.6s ease-out;
}

.navbar.scrolled {
    background: rgb(255, 255, 255) !important; /* NON-IE */
    background: rgba(255, 255, 255, 0.8) !important; /* NON-IE */
    padding: .1rem 1rem;
}

.btn {
    border-color: @mainButtonColor !important;
    &:hover {
        border-color: @mainButtonColor;
    }
    &:focus, &:active {
        border-color: @mainButtonColor !important;
        background-color: @mainButtonColor !important;
        color: lightgray !important;
        box-shadow: none;
    }
}

.btn-outline-info {
    color: @mainButtonColor;
    &:hover {
        color: #FFF;
        background-color: @mainButtonColor;
    }
}

.btn-info {
    background-color: @mainButtonColor;
    &:hover {
        background-color: rgba(0,0,0,0);
        color: @mainButtonColor;
    }
}

@media screen and (min-width: 320px){
    .product-images {
        width:100%;
        > img {
            width:100%;
        }
    }
    .serif-font {
        font-family: @mainFont;
    }

    .display-4.serif-font{
        font-size: 3em;
        font-family: @headerFont;
    }

    .product {
        background-color: white;
        text-align: center;
    }

    .product-text {
        font-size: 0.8em;
        color: gray;
    }

    .navbar-brand > img {
        height: 30px;
    }

    .employee-list {
        > .employee {
            text-align:center;
            width: 18rem;
            > .employee-img {
                margin: 0 auto;
                width:200px;
            }
            > .employee-name {
                text-align:center;
                color:#111;
            }
        }
        overflow:hidden;
    }

    .content {
        flex: 1 0 auto;
    }

    .footer {
        background-color: @footer-bg-color;
        padding: 0px;
        flex-shrink: 0;
        .list-group-item {
            color: @footer-text-color;
            background-color: @footer-bg-color;
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0.4rem;
            padding-top: 0.4rem;
            display: flex;
            justify-content: space-between;
            .time {
                margin-right: 20%;
            }
            a {
                color: @footer-text-color;
            }
        }
        h4 {
            color: @footer-text-color;
        }
        p {
            color: @footer-text-color;
        }
        .made-by-tsm {
            background-color: @footer-dark-bg-color;
            color: lightgray;
            width: 100%;
            padding: 15px;
            margin-top: 20px;
            text-align: center;
        }
    }

    .blommogram {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        width: 60vw;
        > * {
            padding: .5rem 1rem;
            font-size: 1.25rem;
        }
        input {
            border-radius: 5px 0px 0px 5px;
        }
        input:focus {
            box-shadow: none;
            outline: none;
            border: 2px solid #007bff;
        }
        input:focus + button {
            outline: none;
            border: 1px solid #007bff;
        }
        button {
            border-radius: 0px 5px 5px 0px;
        }
    }

    .parallax {
        background: url('./../images/flowers.jpg');
        min-height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        > .parallax-content {
			color: #111;
            text-align: center;
			margin: 20px;
			padding: 20px;
			height: 200px;
            font-size: 2.4em;
        }
    }
    .message {
        padding:10px;
        margin-bottom:10px;
    }
    .message-why {
        background-color:#fff3c5ab;
        padding:15px;
        .why-header {
            text-align:center;
        }
        .why-item {
            margin-top:10px;
        }
    }

    i.fab:hover {
        animation: bounce 0.5s linear;
    }

    .fa-facebook-square {
        color: @footer-text-color;
        margin-top: 10px;
    }

    .fa-twitter-square {
        color: @footer-text-color;
        margin-top: 10px;
    }

    .fa-instagram-square {
        color: @footer-text-color;
        margin-top: 10px;
    }

    @keyframes bounce {
        20% {
            transform: translateY(-6px);
        }
        40% {
            transform: translateY(0px);
        }
        80% {
            transform: translateY(-2px);
        }
        100% {
            transform: translateY(0);
        }
    }

    .open-banner-div {
        display:none;
        padding: 10px;
        color: #DF5171 !important;
    }
}

@media screen and (min-width: 768px){
    .blommogram {
        width: 20vw;
    }
}

@media screen and (min-width: 992px) {
    .parallax {
        min-height: 90vh;
        > .parallax-content {
            font-size: 3.4em;
        }
    }

    .blommogram {
        width: 16vw;
    }
}
